---
import { DutchTable } from '../components/DutchTable';
---

<html lang="en">
  <head>
    <title>Dutch Bets</title>
  </head>
  <body>
    <main style="padding: 2rem;">
      
      
      <h1 style="text-align: center;">DUTCH BETS </h1>
      <DutchTable client:load />
    </main>
  </body>
</html>
